@mixin Font($fontSize: '12px',$fontFamily: 'PingFangSC-Regular, PingFang SC',$fontWeight: "normal"){
    font-size: $fontSize;
    font-family: $fontFamily;
    font-weight: $fontWeight;
}

@mixin WH($width:100%,$height:100%){
    width: $width;
    height: $height;
}

@mixin Border($border:'',$radius:''){
    border: $border;
    border-radius: $radius;
}